<div id="blue">
    <div class="container-fluid">
    <div class="row">
      <h3><%= @talent.user.profile.full_name %></h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
