<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag("tick.png", alt: "Card image cap", class: "card-img-top") %>
        <div class="card-block">
          <h4 class="card-title">Step 1.</h4>
          <p class="card-text">Successful Profile creation.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-md-4">
        <div class="card">
          <%= image_tag("empty-box.png", alt: "Card image cap", class: "card-img-top") %>
          <div class="card-block">
            <h4 class="card-title">Step 2.</h4>
            <p class="card-text">Create your company page.</p>
            <button class="btn btn-primary">
              <%= link_to 'Create company page', new_company_path %>
            </button>
          </div>
        </div>
      </div>
      <!--
      <div class="container">
      <div class="row">
      <div class="col-md-4">
      <div class="card">
      <%= image_tag("solid_grey.jpg", alt: "Card image cap", class: "card-img-top") %>
      <div class="card-block">
      <h4 class="card-title">Step 3.</h4>
      <p class="card-text">Add a business location</p>
    </div>
  </div>
</div> -->
</div>
</div>
</div>
