<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <%= image_tag("empty-tick-box.png", alt: "Card image cap", class: "card-img-top") %>
        <div class="card-block">
          <h4 class="card-title">Step 1.</h4>
          <p class="card-text">Create a Profile.</p>
        <%= link_to 'Create your profile', new_profile_path, class: 'btn btn-primary'%>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="col-md-6">
          <div class="card">
            <%= image_tag("empty-tick-box.png", alt: "Card image cap", class: "card-img-top") %>
            <div class="card-block">
              <h4 class="card-title">Step 2.</h4>
              <p class="card-text">Next step</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
