<h1>Welcome to DiversityX</h1>
<% if user_signed_in? %>
  <% if current_user.profile %>
  Stuff
  <% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= button_to 'Create your candidate profile', assign_role_profiles_path(user_type: 'candidate'), class: 'btn btn-default' %>
      </div>
      <div class="col-md-3">
        <%= button_to 'Create your recruiter profile', assign_role_profiles_path(user_type: 'recruiter'), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
